/* styles.css */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap&family=MedievalSharp&display=swap');

/* Global Styles */
body, h2, h3, p, select, button {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background: url('image.png') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* General Container Styles */
#landing-container, .main-container, .auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#landing-container, .main-container {
  height: 100vh;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5); /* Dark transparent background */
}

.auth-container {
  position: fixed;
  top: 3px;
  right: 10px;
}

/* Headings */
h2, h3 {
  color: #FFD700; /* Golden color for headings */
  font-family: 'MedievalSharp', cursive;
}

h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #fff; /* White color for text */
}

/* Buttons and Selects */
select, button {
  font-size: 1.2em;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

select {
  background-color: #444444;
  color: #ffffff;
}

select:hover, select:focus {
  background-color: #555555;
  transform: scale(1.02);
}

button {
  background-color: #ff6600;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: #ff8533;
  transform: scale(1.05);
}

button:active {
  background-color: #e65c00;
}

/* Auth Buttons */
.auth-button, .user-menu-button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  background-color: #ff5733;
  color: white;
  font-weight: bold;
}

.auth-button:hover, .user-menu-button:hover {
  background-color: #c13b1b;
}

/* User Menu */
.user-menu {
  display: flex;
  align-items: center;
}

.user-menu-button {
  display: flex;
  align-items: center;
}

.arrow.down {
  margin-left: 5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%; /* Position it directly below the button */
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  border: none;
  background: none;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

/* Profile Container */
.profile-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.profile-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #333;
}

.user-details p {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.world-selection {
  margin-top: 20px;
}

.world-selection h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.world-list {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.select-world-btn {
  width: 100%;
  padding: 10px;
  background-color: #ff5733;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.select-world-btn:hover {
  background-color: #c13b1b;
}

/* Container Styles */
#main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

/* Character Sheet */
#character-sheet, #chat-section, #game-info-map-container {
  background: rgba(250, 250, 250, 0.9);
  padding: 15px;
  border-radius: 10px;
  margin: 5px;
  flex: 1;
  min-width: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;  
}

#character-sheet {
  max-width: 30%;
}

#chat-section {
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

#game-info-map-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 30%;
}

#game-info, #map-section {
  background: rgba(253, 253, 253, 0.9);
  padding: 25px;
  border-radius: 10px;
  margin: 5px 0;
  flex: 1;
  box-sizing: border-box;
  border: 2px solid #ccc; 
}

#game-log {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

#chat-box {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
/* Game Log Message Styles */
.message {
  display: flex;
  flex-direction: column;
  max-width: 100%; /* Limit message width */
  margin: 10px 20px; /* Adjust margin for better spacing */
  padding: 10px;
  border-radius: 10px;
}

.message.user {
  align-self: flex-end; /* Align user messages to the right */
}

.message.ai {
  align-self: flex-start; /* Align AI messages to the left */
}

.author {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9em; /* Adjust font size */
  color: #555; /* Improve readability */
}

.author.user{
  align-self: flex-end;
}

.userText, .systemText {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  position: relative;
}

.userText {
  background-color: #e0f7fa;  /* Light blue background for user messages */
  color: #006064;  /* Dark blue text color */
  align-self: flex-end;
}

.systemText {
  background-color: #fff3e0;  /* Light orange background for AI messages */
  color: #bf360c;  /* Dark orange text color */
  align-self: flex-start;
}

.timestamp {
  font-size: 0.8em;
  color: #999;
  margin-top: 5px;
  align-self: flex-end;  /* Align timestamp to the right for both messages */
}


#submit-btn {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#submit-btn:hover {
  background-color: #45a049;
}

/* Ensure these sections take up available space */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#main-container {
  height: calc(100% - 40px); /* Adjust to fit within the viewport minus some padding */
  margin-top: 40px; /* Adjust according to your design needs */
}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Table Styles */
#quests-table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#quests-table-container th, #quests-table-container td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

#quests-table-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

#quests-table-container th {
  background-color: #4CAF50;
  color: white;
}

.quest-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.quest-description {
  font-size: 0.9em;
  color: #555;
}

/* Landing Page Styles */
.landing-container {
  text-align: center;
  background: rgba(0, 0, 0, 0.7); /* Dark transparent background */
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.info-section {
  margin-top: 20px;
  text-align: left;
}

.info-section img.game-image {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
}

.info-section p {
  margin: 20px 0 0;
  font-size: 18px;
  line-height: 1.6;
}

/* Responsive Styles */
@media (max-width: 768px) {
  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.5em;
  }

  select, button {
    font-size: 1em;
  }
}